html {
	font-family: 'Lato', sans-serif;
	color: #fff;
	background-color: #109ceb;
	text-align: center;
}
h1,
h2,
h3 {
	display: table;
	margin: 0 auto;
	font-weight: normal;
}
h1 {
	font-size: 250px;
	line-height: 230px;
}
h2 {
	font-size: 50px;
	line-height: 60px;
}
h3 {
	font-size: 25px;
	line-height: 30px;
	margin: 30px auto;
}
a {
	color: #fff;
}
img {
	margin: 50px auto 20px auto;
	display: block;
	height: 350px;
}