html {
	font-family: 'Lato', sans-serif;
	color: #fff;
	background-color: #109ceb;
	text-align: center;
}
h1,
h2,
h3 {
	display: table;
	margin: 0 auto;
	font-weight: normal;
}
h1 {
	font-size: 200px;
	line-height: 180px;
}
h2 {
	font-size: 45px;
	line-height: 55px;
}
h3 {
	font-size: 20px;
	line-height: 25px;
	margin: 30px auto;
}
a {
	color: #fff;
}
img {
	margin: 50px auto 0 auto;
	display: block;
	height: 320px;
}