/* ===============
CLEARFIX
=============== */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	clear: both;
}
/* ===============
FLEX STRUCTURE disabled
=============== */
.flex {
	width: 100%;
	display: block;
	overflow: hidden;
}
/* ===============
TYPOGRAPHY
=============== */
html {
	font-family: 'Lato', sans-serif;
	color: #555;
}
html {
	font-size: 100%;
	line-height: 24px;
	line-height: 1.714rem;
		-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-transition: all 0.30s linear;
			transition: all 0.30s linear;
}
nav {
	color: #fff;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 48px;
	line-height: 3rem;
}
.submenu {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 35px;
	padding-left: 15px;
	font-style: italic;
	display: none;
}
a {
	color: #111;
	text-decoration: none;
}
a:hover {
	color: #999;
}
nav a,
nav a:visited,
nav a:active {
	color: #fff;
}
nav a:hover {
	color: #f6e48c;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
	-webkit-transition: all 0.25s linear;
			transition: all 0.25s linear;
}
h1 {
	color: #f6e48c;
	font-size: 48px;
	font-size: 3rem;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .8), -1px -1px 2px rgba(0, 0, 0, .8);
	margin: 0;
}
.centered {
	text-align: center;
}
article {
	text-align: justify;
}
.quote {
	color: #222;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: 'Alegreya', serif;
	font-style: italic;
	line-height: 24px;
	line-height: 1.5rem;
	margin: 60px auto 20px auto;
	margin: 3.75rem auto 1.25rem auto;
	width: 500px;
	width: 31.25rem;
}
.person {
	color: #222;
	font-size: 16px;
	font-size: 1rem;
	font-family: 'Alegreya', serif;
	font-style: italic;
	text-align: right;
	line-height: 20px;
	line-height: 1.25rem;
	margin: 0 auto 60px auto;
	margin: 0 auto 3.75rem auto;
	width: 550px;
	width: 34.38rem;
}
.lyrics_l,
.lyrics_r {
	color: #777;
	font-size: 16px;
	font-size: 1rem;
	font-family: 'Alegreya', serif;
	font-style: italic;
	line-height: 24px;
	line-height: 1.5rem;
	padding: 0 18px;
	padding: 0 1.125rem;
	width: 50%;
	box-sizing: border-box;
}
.lyrics_l,
.previous {
	float: left;
}
.lyrics_r,
.next {
	float: right;
}
.previous,
.next {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 26px;
	line-height: 1.5rem;
	padding: 20px 30px;
	width: 40%;
	box-sizing: border-box;
	text-align: center;
}
.curiosita {
	color: #777;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 24px;
	line-height: 1.5rem;
	padding: 0 20px;
	box-sizing: border-box;
	margin: 40px auto;
}
.menutitle {
	font-size: 26px;
	font-size: 1.625rem;
	text-align: center;
	margin: 0;
}
.button-top a {
	color: #666;
	font-size: 12px;
	font-size: 0.75rem;
}
.button-top a:hover {
	color: #333;
}
/* ===============
BACKGROUNDS
=============== */
body {
	background-color: #109ceb;
}
.grid {
	background-color: #fff;
}
footer {
	background-color: #e9eaed;
	line-height: 50px;
	line-height: 3.125rem;
}
#bg-intro {
	background: #109ceb; /* fallback */
	background: url("../../assets/bg/intro.jpg");
	background-size: cover;
}
#bg-amoroso {
	background: #109ceb; /* fallback */
	background: url("../../assets/bg/amore01.jpg");
	background-size: cover;
}
#bg-amoroso1 {
	background: #109ceb; /* fallback */
	background: url("../../assets/bg/amore02.jpg");
	background-size: cover;
}
#bg-amoroso2 {
	background: #109ceb; /* fallback */
	background: url("../../assets/bg/amore03.jpg");
	background-size: cover;
}
#bg-amoroso3 {
	background: #109ceb; /* fallback */
	background: url("../../assets/bg/amore04.jpg");
	background-size: cover;
}
/* ===============
MENU IDENTIFIERS
=============== */
body#menu-home li#menu-home,
body#menu-prefazione li#menu-prefazione,
body#menu-intro li#menu-intro,
body#menu-personaggi li#menu-personaggi,
body#menu-storico li#menu-storico,
body#menu-storico1 li#menu-storico1,
body#menu-storico2 li#menu-storico2,
body#menu-storico3 li#menu-storico3,
body#menu-storico4 li#menu-storico4,
body#menu-politico li#menu-politico,
body#menu-politico1 li#menu-politico1,
body#menu-amoroso li#menu-amoroso,
body#menu-amoroso1 li#menu-amoroso1,
body#menu-amoroso2 li#menu-amoroso2,
body#menu-amoroso3 li#menu-amoroso3,
body#menu-miyazaki li#menu-miyazaki,
body#menu-miyazaki1 li#menu-miyazaki1,
body#menu-miyazaki2 li#menu-miyazaki2,
body#menu-miyazaki3 li#menu-miyazaki3,
body#menu-miyazaki4 li#menu-miyazaki4,
body#menu-miyazaki5 li#menu-miyazaki5,
body#menu-miyazaki6 li#menu-miyazaki6,
body#menu-critica li#menu-critica,
body#menu-critica1 li#menu-critica1,
body#menu-critica2 li#menu-critica2,
body#menu-considerazioni li#menu-considerazioni,
body#menu-considerazioni1 li#menu-considerazioni1,
body#menu-considerazioni2 li#menu-considerazioni2,
body#menu-considerazioni3 li#menu-considerazioni3,
body#menu-casttecnico li#menu-casttecnico,
body#menu-bluray li#menu-bluray,
body#menu-soundtrack li#menu-soundtrack,
body#menu-credits li#menu-credits {
	background: #68B3F4; /* fallback */
	background: -webkit-gradient(linear, left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,.7) 100%); /* Saf4+, Chrome */
	background:  -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,.7) 100%); /* Chrome 10+, Saf5.1+ */
	background:     -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,.7) 100%); /* FF3.6+ */
	background:      -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,.7) 100%); /* IE10 */
	background:       -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,.7) 100%); /* Opera 11.10+ */
	background:          linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,.7) 100%); /* W3C */
}
/* ===============
TOGGLE SUBMENU
=============== */
body#menu-home .sm1,
body#menu-prefazione .sm1,
body#menu-intro .sm1,
body#menu-storico .sm2,
body#menu-storico1 .sm2,
body#menu-storico2 .sm2,
body#menu-storico3 .sm2,
body#menu-storico4 .sm2,
body#menu-politico .sm3,
body#menu-politico1 .sm3,
body#menu-amoroso .sm4,
body#menu-amoroso1 .sm4,
body#menu-amoroso2 .sm4,
body#menu-amoroso3 .sm4,
body#menu-miyazaki .sm5,
body#menu-miyazaki1 .sm5,
body#menu-miyazaki2 .sm5,
body#menu-miyazaki3 .sm5,
body#menu-miyazaki4 .sm5,
body#menu-miyazaki5 .sm5,
body#menu-miyazaki6 .sm5,
body#menu-critica .sm6,
body#menu-critica1 .sm6,
body#menu-critica2 .sm6,
body#menu-considerazioni .sm7,
body#menu-considerazioni1 .sm7,
body#menu-considerazioni2 .sm7,
body#menu-considerazioni3 .sm7 {
	display: block;
}
/* ===============
STYLE
=============== */
aside {
	box-sizing: border-box;
}
nav ul {
	list-style-type: none;
}
ul {
	padding: 0 0 0 25px;
	padding: 0 0 0 1.563rem;
	margin: 0;
}
header,
section,
.main-footer {
	box-sizing: border-box;
	width: 100%;
	padding-left: 50px;
	padding-left: 3.125em;
	padding-right: 50px;
	padding-right: 3.125em;
}
.main-footer {
	text-align: center;
}
.media,
.media img,
.media audio,
.media video {
	width: 100% !important;
}
header {
	min-height: 175px;
	min-height: 10.94rem;
	line-height: 175px;
	line-height: 10.94rem;
}
.laterale img {
	padding: 0 20px;
	padding: 0 1.25rem;
	width: 180px;
	width: 12.86rem;
	margin: 50px auto;
	margin: 3.571rem auto;
	display: block;
	-webkit-transition: all 0.30s linear;
			transition: all 0.30s linear;
}
section {
	margin: 60px 0 30px 0;
	margin: 3.75rem 0 1.875rem 0;
}
.colonne {
	width: 100%;
	margin: 90px auto 0 auto;
}
.button-top {
	width: 200px;
	display: table;
	margin: 50px auto 15px auto;
	text-align: center;
	line-height: 18px;
	line-height: 1.125rem;
}
.navspazio {
    content: "";
    display: block;
    height: 1px;
    box-shadow: 1px 1px 2px #333;
    width: 250px;
    margin: 10px 0;
    background: #f6e48c;
}
/* ===============
MEDIA
=============== */
.media {
	margin: 70px auto;
	margin: 4.375rem auto;
	box-sizing: border-box;
	display: block;
	width: 500px;
	width: 31.25rem;
}
.media img {
	display: block;
	border-radius: 10px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
	margin: 0 auto;
	width: 450px;
	width: 28.13rem;
}
.media audio {
	display: block;
	margin: 0 auto;
	width: 400px;
	width: 25rem;
}
.media video {
	display: block;
	margin: 0 auto;
	width: 500px;
	width: 31.25rem;
}
.didascalia {
	color: #111;
	font-size: 14px;
	font-size: 0.875rem;
	font-style: italic;
	text-align: center;
	line-height: 14px;
	line-height: 0.875rem;
	margin: 10px auto;
	margin: 0.625rem auto;
}
#cinu {
	width: 350px;
	width: 21.88rem;
}
/* ===============
NAVIGATION BUTTON
=============== */
.navbutton {
	position: absolute;
	display: block;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background: url("../../assets/navbutton.png") 0 -32px no-repeat;
	background: url("../../assets/navbutton.svg") 0 -32px no-repeat;
	height: 32px;
	left: 30px;
	left: 2.143rem;
	top: 36px;
	top: 2.571rem;
	-webkit-transition: none;
			transition: none;
	width: 32px;
}
.navbutton:hover {
	background-position: 0 0;
}
.navbutton-open {
	background-position: -32px -32px;
}
.navbutton-open:hover {
	background-position: -32px 0;
}
#mainlogo {
	margin: 20px auto;
}
#logoghibli {
	float: right;
	width: 125px;
	width: 7.813rem;
}
.navmenu {
	background-color: #109ceb;
	overflow: hidden;
	position: absolute;
	-webkit-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0);
	-webkit-transition: all 0.25s linear;
			transition: all 0.25s linear;
	width: 75%;
	z-index: 1;
}
.navmenu-open {
	-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.25s linear;
			transition: all 0.25s linear;
}
/* ===============
SMALL SCREEN OPT
=============== */
@media only screen and (max-device-width: 499px) {
	h1 {
		font-size: 28px;
		font-size: 1.75rem;
	}
	header,
	section,
	.main-footer {
		padding-left: 15px;
		padding-left: 0.9375em;
		padding-right: 15px;
		padding-right: 0.9375em;
	}
	#mainlogo {
		height: 50px;
		width: auto;
		margin: 5px auto;
	}
	.navbutton {
		left: 15px;
		left: 0.9375rem;
		top: 14px;
		top: 0.875rem;
	}
	header {
		min-height: 75px;
		min-height: 4.688rem;
		line-height: 75px;
		line-height: 4.688rem;
		padding: 0;
	}
	.media {
		margin: 44px auto;
		margin: 2.75rem auto;
	}
	section {
		margin: 30px 0;
		margin: 1.875rem 0;
	}
}
/* ===============
TABLE
=============== */
table {
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
	font-size: 14px;
	font-size: 0.875rem;
}
th,
td {
	border: 1px solid #ddd;
	padding: 5px 8px;
	padding: 0.3125rem  0.5rem;
}
/* ===============
HOMEPAGE SPECIFIC FIXES
=============== */
body#menu-home .grid {
	background: url("../../assets/bg/home_cover.jpg") no-repeat; /* fallback */
	background: -webkit-gradient(linear, left, rgba(255,255,255,.1) 0%, rgba(255,255,255,.15) 50%, rgba(255,255,255,1) 100%), url("../../assets/bg/home_cover.jpg") no-repeat;
	background:  -webkit-linear-gradient(left, rgba(255,255,255,.1) 0%, rgba(255,255,255,.15) 50%, rgba(255,255,255,1) 100%), url("../../assets/bg/home_cover.jpg") no-repeat;
	background:     -moz-linear-gradient(left, rgba(255,255,255,.1) 0%, rgba(255,255,255,.15) 50%, rgba(255,255,255,1) 100%), url("../../assets/bg/home_cover.jpg") no-repeat;
	background:      -ms-linear-gradient(left, rgba(255,255,255,.1) 0%, rgba(255,255,255,.15) 50%, rgba(255,255,255,1) 100%), url("../../assets/bg/home_cover.jpg") no-repeat;
	background:       -o-linear-gradient(left, rgba(255,255,255,.1) 0%, rgba(255,255,255,.15) 50%, rgba(255,255,255,1) 100%), url("../../assets/bg/home_cover.jpg") no-repeat;
	background:          linear-gradient(left, rgba(255,255,255,.1) 0%, rgba(255,255,255,.15) 50%, rgba(255,255,255,1) 100%), url("../../assets/bg/home_cover.jpg") no-repeat;
	background-size: 800px auto;
	background-color: #fff;
}
body#menu-home h1,
body#menu-home h2 {
	color: #f6e48c;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .7), -1px -1px 2px rgba(0, 0, 0, .7);
	margin: 50px auto;
}
body#menu-home h3 {
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .7), -1px -1px 1px rgba(0, 0, 0, .7);
	margin: 50px auto 20px auto;
}
body#menu-home h4 {
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .7), -1px -1px 1px rgba(0, 0, 0, .7);
	margin: 20px auto;	
}
body#menu-home section {
	min-height: 800px;
}
body#menu-home .button-top {
	display: none;
}